@font-face {
    font-family: 'Ayrella';
    src: url('../font/aurella/Aurella.ttf') format('woff2'),
        /* Modern Browsers */
        url('../font/aurella/Aurella.ttf') format('woff');
    /* Legacy Browsers */
    /* Add additional font formats if necessary */
    font-weight: normal;
    /* Specify font weight if needed */
    font-style: normal;
    /* Specify font style if needed */
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2'),
        /* Modern Browsers */
        url('../font/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff');
    /* Legacy Browsers */
    /* Add additional font formats if necessary */
    font-weight: normal;
    /* Specify font weight if needed */
    font-style: normal;
    /* Specify font style if needed */
}

@font-face {
    font-family: 'nelphim';
    src: url('../font/Nelphim-Font/Nephilm.otf') format('woff2'),
        /* Modern Browsers */
        url('../font/Nelphim-Font/Nephilm.otf') format('woff');
    /* Legacy Browsers */
    /* Add additional font formats if necessary */
    font-weight: normal;
    /* Specify font weight if needed */
    font-style: normal;
    /* Specify font style if needed */
}

body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Navbar section */


.navbar .container {
    gap: 550px;
}

.logo {
    float: left;
    font-weight: 900;
    font-size: 35px;
    font-family: 'Ayrella', sans-serif;
}

.logo a {
    text-decoration: none;
    color: white;
}



.menu li {
    list-style-type: none;
    display: inline;
    padding-left: 90px;
}

.menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: gray;
}

/* Content section */
.content {
    margin: 30px 100px;
    float: left;
}

/* About us */
.about .aboutRow {
    display: flex;
    gap: 8rem;
    margin: 0 250px;
}

.about .aboutRow .first {
    padding-right: 5px;
    padding-top: 60px;

    animation: slideIn 2s forwards;
}

.about .aboutRow .first p {
    line-height: 25px;
    text-align: justify;

    margin-bottom: 30px;
}

.about .aboutRow .first a {
    background-color: rgba(91, 88, 88, 0.211);
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    color: #e8bcf0;
    border: 1px solid #e8bcf0;
}

.about .aboutRow .first a:hover {
    background-color: #e8bcf0;
    color: #3C3448;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* Final position */
        opacity: 1;
        /* Fully visible */
    }
}

#aboutLink {
    border-bottom: 1px solid #e8bcf0;
    padding-bottom: 10px;
}

.about .second img {
    border-radius: 100px 20px 100px 20px;
    width: 300px;
    animation: slideInAnotherway 2s forwards;
}

@keyframes slideInAnotherway {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

.about .certificates {
    margin-top: 50px;
}

.about .certificates img {
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    
}

.about .certificates img:hover {
    box-shadow: 10px 6px 10px rgba(172, 171, 171, 0.441)
}

.about .certificates h3 {
    margin-bottom: 35px;
}


.about .certificates .slide {
    
    white-space: nowrap;
    width: 1340px; 
    overflow: hidden;
}
.about .certificates .slide:before, .about .certificates .slide:after{
    position: absolute;
    width: 100px;
    height: 143px;
    content: "";
    z-index: 2;
    background-color:#e8bcf026
}
.about .certificates .slide:after{
    position: absolute;
    right: 96px;
   
}
.about .certificates .slide:hover .images{
    animation-play-state: paused;
} 
.about .certificates .slide .images{
    animation:imageSlider 35s linear infinite;
    display: inline-block;
}
@keyframes imageSlider {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.about .certificates .slide img {
    margin: 0 10px;
}
.about .certificates .modal-content {
    background-color: rgba(106, 103, 103, 0.21);
    width: 1000px;
    height: 600px;

}

.about .certificates .modal-content img {
    width: 700px;
    margin-left: 130px;
}

.btn-close {
    /* --bs-btn-close-bg: url('../img/x.png'); */
    background: transparent url('../img/x.svg') center / 1.8em auto no-repeat;
}

.about .certificates .modal-header {
    border: none;
}

.about .certificates .modal-dialog {
    margin-left: 255px;
}

.about .certificates .modal-title {
    text-align: center;
    color: #ffffff;
}

/* projects */
.projects .row {
    display: grid;
    grid-template-columns: 17rem 17rem 17rem 17rem;
    gap: 10px;
    margin: 40px 150px 0px 150px;
}

.h1 {
    animation: slideRight 2s forwards;
}

.projects .headding h3 {
    position: absolute;
    left: 80px;
    top: 180px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    /* font-size: 50px; */
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0);
        transform: rotate(180deg);

    }
}

.projects img {
    width: 210px;
}

.projects .card {
    width: 230px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.2);
    color: #e8bcf0;
    font-weight: 900;
    cursor: pointer;
}

.projects a {
    text-decoration: none;
}

.projects .card:hover {
    width: 231px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.441)
}

.projects .card:hover .card-img {
    width: 230px;
    height: 190px;
}

.projects .card .card-img {
    width: 229px;
    height: 190px;
    border-radius: 10px 10px 0 0;
}

.projects .card .card-body {
    display: flex;
}

.projects .card .card-body img {
    width: 25px;
}

.projects .card .card-body h6 {
    font-size: 14px;
    padding: 0 10px;
}

.projects .menus ul {
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-top: -12px;
}

.projects .menus ul li {
    list-style: none;
}

.projects .menus ul li a {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.projects .menus ul li a:hover {
    color: gray;
}

#uiuxProjects,
#webProjects {
    display: none;
}

/* social icons */
.skills,
.projects {
    display: none;
}

.socialIcons {
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 160px;

}

.slide-animation {
    animation: topDown 3s forwards;
}

@keyframes topDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 11;

    }
}

.socialIcons .roww .coll {
    padding: 25px 0;
}

.socialIcons img:hover {
    box-shadow: 0px 0 30px rgba(255, 255, 255, 0.5);
}

/*  skills*/
.skills .headding h1 {
    position: absolute;
    left: 100px;
    top: 250px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 50px;
}

.skills .services .headding h1 {
    position: absolute;
    left: 100px;
    top: 800px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 50px;
}

.services .row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
}

.services .row .column {
    border: 1px solid #685b7d;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.203);
    text-align: center;
    height: 200px;
}

.services .row .column .rowSpan {
    display: none;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 8px;
}

.services .row .column .rowSpan span {
    background-color: #e8bcf0;
    padding: 5px 15px;
    color: #3C3448;
    border-radius: 15px;
    margin-left: 5px;
}

.services .arrow,
.services .arrow2,
.services .arrow1 {
    padding: 10px 0;
    cursor: pointer;
}

.services .rowSkills {
    display: flex;
    gap: 7rem;
    margin-top: 40px;
    padding: 0 100px;
}
.services .rowSkills .apps {
    white-space: nowrap;
    overflow: hidden;
    width: 800px;
    
}
.services .rowSkills .apps .images{
    display: inline-block;
    animation: imageSlider infinite 35s linear;
    
}
.services .rowSkills .apps img{
   /* width: 50px; */
   margin-left: 40px;
    
}
.services .rowSkills .column:first-child {
    width: 200px;
}
.services .rowSkills .apps .column:first-child {
    width: auto;
}

.rotate {
    transform: rotate(180deg);
}

/* Contact */
.contact .rows {
    display: flex;
    gap: 5rem;
    padding: 0 100px;
}

.contact .rows .first {
    padding-top: 30px;
}

.contact .first h1 {
    font-size: 50px;
    text-align: center;
}

.contact .first img {
    width: 20px;
}

.contact .first .img {
    width: 15px;
}

.contact .first .col {
    flex: 0 0 0%;
}

.contact .rows .col .rows {
    display: flex;
    gap: 10px;
}

.contact .rows .col .second {
    display: flex;
    gap: 1rem;
    padding: 0 100px;
}

.contact .form .rows {
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
}

.contact .form .second .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact input,
.contact textarea {
    background-color: transparent;
    border: 1px solid #685b7d;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
}

.contact input[type="text"] {
    background-color: transparent;
    border: 1px solid #685b7d;
    padding: 10px 8px;
    width: 190px;
    border-radius: 5px;

}

.contact input:focus,
.contact textarea:focus {
    outline: none;
    border: 2px solid #e8bcf090;
}

.contact {
    display: none;
    margin-top: 10px;
}

.contact button {
    background-color: rgba(91, 88, 88, 0.211);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #e8bcf0;
    border: 1px solid #e8bcf0;
    width: 200px;
    margin-top: 10px;
    font-size: 14px;
}

.contact button:hover {
    background-color: #e8bcf0;
    color: #3C3448;
}
@media only screen and (min-width: 270px) and (max-width: 414px) {
    /* navbar */
    .navbar .container{
        display: inline;
    }
    .logo a{
        font-size: 18px;
    }
    .navbar-toggler{
        float: right;
        --bs-navbar-toggler-font-size:0.9rem;
        border: none;


    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-toggler-icon{
        background-image: url("../img/icons8-menu-bar.svg");
    }
    .navbar-toggler-icon:focus-visible{
        outline: none;
    }
    .navbar-collapse{
        height: 100vh;
        background-color:rgba(93, 92, 92, 0.153);
    }
    .navbar-nav{
        justify-content: center;
        position: absolute;
        margin: 70px 0px;
    }
    .menu li{
        padding: 30px 150px;
        text-align: center;
    }
    .content {
    margin: 0px;
    float: left;
    width: 100%;
}
/* about */
    .about .aboutRow {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        margin: 0 0px;
    }
    .about .aboutRow .first{
        padding: 0 50px;
        margin: 0px;
        text-align: center;
    }
    .about .aboutRow .first p{
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .about .second{
        text-align: center;
        margin-bottom: 10px;
    }
    .about .second img {
        width: 130px;
        border-radius: 100px;
    }
    @keyframes slideInAnotherway {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
    
        to {
            transform: translate(0);
            opacity: 1;
        }
    }
    .about .aboutRow .first a {
        padding:10px 15px;
        font-size: 12px;
        border-radius: 50px;
        align-content: center;
    }
    .about .certificates{
        margin-top: 30px;
    }
    
/* .about .certificates .row {
    display: inline;
    gap: 2px;
    grid-template-columns: 5rem 5rem;
    /* margin: 0 80px; */
/* }  */
    .about .certificates h3{
        font-size: 16px;
        font-weight: 900;
        padding-left: 30px;
    }
    .about .certificates img{
        width: 150px;
    }
   


    .about .certificates .slide {
        margin: 0 15px;
        white-space: nowrap;
        width: 320px; 
        overflow: hidden;
    }
    .about .certificates .slide:before, .about .certificates .slide:after{
        width: 50px;
        height: 106px;
    }
    .about .certificates .slide:after{
        position: absolute;
        right: 40px;
       
    }
    .about .certificates .slide:hover .images{
        animation-play-state: paused;
    } 
    .about .certificates .slide .images{
        animation:imageSlider 35s linear infinite;
        display: inline-block;
    }

    .about .certificates .modal-content {
        width: 350px;
        height: 400px;
        background-color: rgba(14, 14, 14, 0.21);
    }
    
    .about .certificates .modal-content img {
        width: 320px;
        margin-left: 0px;
    }
    
    .btn-close {
        /* --bs-btn-close-bg: url('../img/x.png'); */
        background: transparent url('../img/x.svg') center / 1.7em auto no-repeat;
    }
    
    .about .certificates .modal-dialog {
        margin-left: 0px;
    }
    .about .certificates .modal-title{
        padding: 10px;
        font-size: 14px;
    }

    /* social Icons */
    .socialIcons {
        margin-right: 10px;
    
    }
    .socialIcons img{
        width: 20px;
    }
    /* contact */
    .contact .rows .first{
        padding: 0;
        margin: auto;
    }
    .contact .rows{
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
    
    .contact .rows .col .rows{
        gap: 5px;
    }
    .contact .first h1{
        font-size: 20px;
        font-weight: 900;
    }
    /* .contact .first img{
        width: 15px;
    } */
    .contact .rows .col .second{
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
    .contact input, .contact textarea, .contact input[type="text"]{
        width: 280px;
        padding: 5px;
    }
    .contact textarea{
        height: 60px;
    }
    .contact .col {
       margin: auto;
    }
    .contact .form .rows{
        margin-top: 8px;
    }
    .contact .form .second .col{
        gap:0.3rem;
        margin-top: 8px;
    }
    .contact .rows .first .rows{
        flex-direction: row;

    }
    .contact button{
        font-size: 12px;
        width: 150px;
        margin-top: 8px;
    }
    .contact .rows .col .rows p{
        text-align: center!important;
    }

    /* services */
    .services .row{
        flex-direction: column;
        margin-top: -10px;
        gap: 5px;
        align-content: center;
        margin-bottom: -12px;
    }
    .services .row .column{
        width: 250px;
        height: 140px;
        padding: 8px 20px;
    }
    .services .row .column h4{
        font-size: 14px;
        font-weight: 900;
        margin-top: -10px;
    }
    .services .row .column p{
        font-size: 11px;
        margin-bottom: -2px;
    }
    .services .row .column img{
        width: 13px;
    }
    .services .row .column .mb-3{
        width: 22px;
    }
    .services .row .column .rowSpan span{
        padding: 3px 10px;
        font-size: 11px;
    }
    .services .rowSkills{
        flex-direction: column;
        gap: 0;
        padding: 0 17px;
        margin-top: 0;
    }
    .services .rowSkills .apps{
        padding: 0 17px;
    }
    .services .rowSkills .apps img{
        width: 30px;
    }
    .services .rowSkills  h6{
        font-size: 14px;
        font-weight: 900;
    }
    .services .rowSkills .apps{
        margin-bottom: 10px;
    }
    .services .rowSkills .apps {
        width: 300px;
        
    }

    /* projects */
    .projects .menus ul {
        display: flex;
        gap: 1.3rem;
        justify-content: center;
        margin-top: -12px;
        padding: 0;
    }
    .projects .menus ul li a {
        font-size: 12px;
    }
    h3{
        display: none;
    }
    .projects .row {
        display: grid;
        grid-template-columns: 9.6rem 9.6rem;
        gap: 10px;
        justify-content: center;
        margin: 0;
        margin-top: -5px;
    }
    .projects .col{
        padding: 0;
        margin: auto;
    }
    .projects .card {
        width: 146px;
        height: 181px;
    }
    .projects .card .card-img {
        width: 145px;
        height: 120px;
    }
    .projects .card .card-body h6 {
        font-size: 11px;
        padding: 0 ;
    }
}