@font-face {
    font-family: 'Ayrella';
    src: url('../font/aurella/Aurella.ttf') format('woff2'),
        /* Modern Browsers */
        url('../font/aurella/Aurella.ttf') format('woff');
    /* Legacy Browsers */
    /* Add additional font formats if necessary */
    font-weight: normal;
    /* Specify font weight if needed */
    font-style: normal;
    /* Specify font style if needed */
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2'),
        url('../font/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nelphim';
    src: url('../font/Nelphim-Font/Nephilm.otf') format('woff2'),
        url('../font/Nelphim-Font/Nephilm.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --slider:calc(100vw - 75px);
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* Navbar section */


.navbar .container {
    gap: calc(100vw - 900px);
    margin-left: 50px;
}

.logo {
    float: left;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Ayrella', sans-serif;
}

.logo a {
    text-decoration: none;
    color: white;
}

.menu .logo{
    display: none;
}

.menu li {
    list-style-type: none;
    display: inline;
    padding-left: 90px;
}

.menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: gray;
}

/* Content section */
.content {
    margin: 30px 100px;
    float: left;
}

/* About us */
.about .aboutRow {
    display: flex;
    gap: 8rem;
    margin: 0 250px;
}

.about .aboutRow .first {
    padding-right: 5px;
    padding-top: 60px;

    animation: slideIn 2s forwards;
}

.about .aboutRow .first p {
    line-height: 25px;
    text-align: justify;

    margin-bottom: 30px;
}

.about .aboutRow .first a {
    background-color: rgba(91, 88, 88, 0.211);
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    color: #e8bcf0;
    border: 1px solid #e8bcf0;
}

.about .aboutRow .first a:hover {
    background-color: #e8bcf0;
    color: #3C3448;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#aboutLink {
    border-bottom: 1px solid #e8bcf0;
    padding-bottom: 10px;
}
.about .second .second-container{
    position: absolute;
    right: 310px;
    width: 400px;
    
}
.about .second img {
    border-radius: 90% ; 
    width: 400px;
    animation: slideInAnotherway 2s forwards;
}

@keyframes slideInAnotherway {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

.about .certificates {
    margin-top: 10px;
    display: grid;
    place-items: center;
}

.about .certificates img {
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    
}

.about .certificates img:hover {
    box-shadow: 10px 6px 10px rgba(172, 171, 171, 0.441)
}

.about .certificates h3{
    justify-self: start;
    padding:0 70px;
    margin-bottom: 35px;
}

.about .certificates .slide {
      justify-content: center;
    text-align: center;
    white-space: nowrap;
    width: calc(100vw - 170px); 
    overflow: hidden;
    margin: 0 ;
}
.about .certificates .slide:before, .about .certificates .slide:after{
    position: absolute;
    width: 100px;
    height: 143px;
    content: "";
    z-index: 2;
    background-color:#e8bcf026
}
.about .certificates .slide:after{
    position: absolute;
    right: 68px;
   
}
.about .certificates .slide:hover .images{
    animation-play-state: paused;
} 
.about .certificates .slide .images{
    animation:imageSlider 35s linear infinite;
    display: inline-block;
}
@keyframes imageSlider {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.about .certificates .slide img {
    margin: 0 10px;
}
.about .certificates .modal-content {
    background-color: rgba(0, 0, 0, 0.525);;
    width: 1000px;
    height: 600px;

}

.about .certificates .modal-content img {
    width: 700px;
    margin-left: 130px;
}

.about .certificates .btn-close {
    background: transparent url('../img/x.svg') center / 1.8em auto no-repeat;
}

.about .certificates .modal-header {
    border: none;
}

.about .certificates .modal-dialog {
    margin-left: 255px;
}

.about .certificates .modal-title {
    text-align: center;
    color: #ffffff;
}

/* projects */
.projects{
  display: grid;
  place-items: center;
}
.projects .row {
    display: grid;
    grid-template-columns: 17rem 17rem 17rem 17rem;
    gap: 10px;
    width: 60%;
    margin:0 calc(100vw - 1400px);
}

.h1 {
    animation: slideRight 2s forwards;
}

.projects .headding h3 {
    position: absolute;
    left: 80px;
    top: 180px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    /* font-size: 50px; */
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0);
        transform: rotate(180deg);

    }
}

.projects img {
    width: 210px;
}

.projects .card {
    width: 230px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.2);
    color: #e8bcf0;
    font-weight: 900;
    cursor: pointer;
}

.projects a {
    text-decoration: none;
}

.projects .card:hover {
    width: 231px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.441)
}

.projects .card:hover .card-img {
    width: 230px;
    height: 190px;
}

.projects .card .card-img {
    width: 229px;
    height: 190px;
    border-radius: 10px 10px 0 0;
}

.projects .card .card-body {
    display: flex;
}

.projects .card .card-body img {
    width: 25px;
}

.projects .card .card-body h6 {
    font-size: 14px;
    padding: 0 10px;
}

.projects .menus ul {
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-top: -12px;
}

.projects .menus ul li {
    list-style: none;
}

.projects .menus ul li a {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.projects .menus ul li a:hover {
    color: gray;
}

#uiuxProjects,
#webProjects {
    display: none;
}

/* social icons */
.skills,
.projects {
    display: none;
}

.socialIcons {
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 160px;

}

.slide-animation {
    animation: topDown 3s forwards;
}

@keyframes topDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 11;

    }
}

.socialIcons .roww .coll {
    padding: 25px 0;
}

.socialIcons img:hover {
    box-shadow: 0px 0 30px rgba(255, 255, 255, 0.5);
}

/*  skills*/
.skills .headding h1 {
    position: absolute;
    left: 100px;
    top: 250px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 50px;
}

.skills .services .headding h1 {
    position: absolute;
    left: 100px;
    top: 800px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 50px;
}

.services .row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
}

.services .row .column {
    border: 1px solid #685b7d;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.203);
    text-align: center;
    height: 200px;
    transition: height 0.3s ease;
}

.services .row .column .rowSpan {
    display: none;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 8px;
}

.services .row .column .rowSpan span {
    background-color: #e8bcf0;
    padding: 5px 15px;
    color: #3C3448;
    border-radius: 15px;
    margin-left: 5px;
}

.services .arrow,
.services .arrow2,
.services .arrow1 {
    padding: 10px 0;
    cursor: pointer;
}
.services .rowSkills {
    display: flex;
    gap: 1rem;
    margin-top: 40px;
    padding: 0 100px;
} .services .rowSkills .appss{
    /* margin-left:30px; */
    margin-top: -10px;
}
.services .rowSkills h6{
    text-align: right;
}
.services .rowSkills .apps {
    white-space: nowrap;
    overflow: hidden;
    width: calc(100vw - 530px);
    margin-top: -25px;
    
}
.services .rowSkills .apps .images{
    display: inline-block;
    animation: imageSlider infinite 35s linear;
    
}
.services .rowSkills .apps img{
   /* width: 50px; */
   margin-left: 40px;
    
}
.services .rowSkills .column:first-child {
    width: 200px;
}
.services .rowSkills .apps .column:first-child {
    width: auto;
}

.rotate {
    transform: rotate(180deg);
}

/* Contact */
.contact .rows {
    display: flex;
    gap: 5rem;
    padding: 0 100px;
}

.contact .rows .first {
    padding-top: 30px;
}

.contact .first h1 {
    font-size: 50px;
    text-align: center;
}

.contact .first img {
    width: 20px;
}

.contact .first .img {
    width: 15px;
}

.contact .first .col {
    flex: 0 0 0%;
}

.contact .rows .col .rows {
    display: flex;
    gap: 10px;
}

.contact .rows .col .second {
    display: flex;
    gap: 1rem;
    padding: 0 100px;
}

.contact .form .rows {
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
}

.contact .form .second .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact input,
.contact textarea {
    background-color: transparent;
    border: 1px solid #685b7d;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
}

.contact input[type="text"] {
    background-color: transparent;
    border: 1px solid #685b7d;
    padding: 10px 8px;
    width: 190px;
    border-radius: 5px;

}

.contact input:focus,
.contact textarea:focus {
    outline: none;
    border: 2px solid #e8bcf090;
}

.contact {
    display: none;
    margin-top: 10px;
}

.contact button {
    background-color: rgba(91, 88, 88, 0.211);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #e8bcf0;
    border: 1px solid #e8bcf0;
    width: 200px;
    margin-top: 10px;
    font-size: 14px;
}

.contact button:hover {
    background-color: #e8bcf0;
    color: #3C3448;
}
